
.bgStudent{
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/img/bgID.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow-text{
  text-shadow: 0px 0px 4px white;
}